@media (min-width: 250px) and (max-width: 600px){



nav{
    width: 100%;
    background-color: rgba(87, 158, 149, 0.304);
    backdrop-filter: blur(12px);
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: fixed;
    
    
    
}

nav ul{
    display: flex;
    

}

nav ul li{
    list-style-type: none;
    padding: 10px 10px 10px 10px;
    
    
}

nav ul li a{
    text-decoration: none;
    font-size: 1rem;
    color: black;
}



























}